/* ========= Colors ========= */

:root {
  --black: #222;
  --white: #fff;
  --default: #0751a5;
  --orange: #85ee93;
  --yellow: #07d162;
  --grey: #2fb63a;
  --grey2: #f9fafd;
  --warn: #e71247;
}

/* ========= Reset ========= */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Dosis", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--black);
  background-color: var(--white);
}

h2,
h3,
h4 {
  font-weight: 400;
}

img {
  width: 300px;
  height: 300px;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

.container {
  max-width: 100rem;
  max-height: 120rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 3rem;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 5rem;
  }
}

/* Navigation */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 0;
  line-height: 1rem;
  background-color: var(--black);
}

.hamburger {
  display: none;
}

.nav__center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav__logo {
  font-size: 2rem;
  color: var(--white);
}

.nav__logo span {
  color: var(--grey);
}

.nav__list {
  display: flex;
  align-items: center;
}

.login {
  display: inline-block;
  font-size: 1.7rem;
  margin-right: 2rem;
  padding: 1.3rem 1.5rem;
  color: var(--black);
  background-color: var(--yellow);
}

.login:focus {
  outline: none;
}

.cart__icon {
  position: relative;
  cursor: pointer;
}

.cart__icon h2 {
  font-weight: 700;
  color: var( --grey);
}

.cart__icon span {
  position: absolute;
  top: -1rem;
  right: -2.5rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var( --grey);
  color: var(--white);
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 50%;
}

/* Products Center */

.products {
  padding: 15rem 0;
}

.product__center {
  padding: 0 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 3rem 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

.product__footer {
  padding: 1rem;
  width: 100%;
}

.product__footer h1 {
  padding: 2rem;
  font-size: 2.5rem;
  color: var(--grey);
}


.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.btn {
  display: inline-block;
  border: 1px solid var( --grey);
  padding: 1rem 1.8rem;
  color: var(--black);
  font-weight: 500;
  font-size: 2rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.btn:hover {
  background-color: var( --grey);
  color: var(--white);
  border: 1px solid var( --grey);
}

.price {
  font-weight: 700;
  font-size: 1.8rem;
  padding-bottom: 1rem;
}

/* Cart */
.cart__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 300ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  z-index: 2;
}

.cart {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  width: 60%;
  height: 80%;
  padding: 1.6rem;
  border-radius: 2rem;
  z-index: 3;
  overflow-y: scroll;
  background-color: var(--grey2);
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease-in-out;
}

.cart.show {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
}

.cart__overlay.show {
  visibility: visible;
}

.close__cart {
  cursor: pointer;
}

.close__cart svg {
  fill: var(--black);
  transition: all 300ms ease-in-out;
}

.close__cart:hover svg {
  fill: var(--warn);
}

.cart svg {
  width: 1.8rem;
  height: 1.8rem;
}

.cart h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.cart__item svg {
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--orange);
}

.cart__item {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  width: 70%;
  margin: 2rem auto;
}

.cart__item div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart__item div span {
  cursor: pointer;
}

.cart__item img {
  width: 9.5rem;
  height: 9.5rem;
}

.cart__item h3 {
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.cart__item .price {
  color: var( --grey);
  font-weight: 700;
}

.cart__item p {
  font-weight: 700;
}

.cart__item .remove__item {
  cursor: pointer;
}

.cart__item .remove__item svg {
  fill: var(--warn);
}

@media only screen and (max-width: 1350px) {
  .cart__item {
    width: 100%;
  }
}

@media only screen and (max-width: 996px) {
  .cart__item {
    grid-template-columns: 1fr 2fr 0.5fr 0.5fr;
  }

  .cart__item h3 {
    font-size: 1.7rem;
  }

  .cart__item .remove__item svg {
    width: 1.6rem;
    height: 1.6rem;
  }

  .cart__item img {
    width: 7.5rem;
    height: 7.5rem;
  }
}

.cart__footer {
  text-align: center;
  margin-bottom: 3rem;
}

.cart__footer h3 {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.cart__footer .btn {
  display: inline-block;
  padding: 1.5rem 3rem;
  font-size: 2rem;
  background-color: var( --grey);
  border: none;
  margin-top: 2rem;
}

.cart__footer .btn:focus {
  outline: none;
}

@media only screen and (max-width: 567px) {
  .cart {
    width: 100%;
    height: 100%;
    border-radius: 0rem;
  }

  .cart__item h3 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  .btn {
    padding: 0.8rem 1.5rem;
    font-size: 1.6rem;
  }
}




/* Hero */
#home{
  height: 600px;
  background-image: url(./grsbackg.jpg);
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-size: contain;
  margin-top: 65px;
  margin-bottom: 0%;
  
}
.hero {
  /* background: linear-gradient(to right, #77b37c,#bebcb7); */
  position: relative;
  height: 75%;
  background-color: var(--primaryColor);
}

.hero__center {
  display: flex;
  height: 100%;
}

.hero__left {
  flex: 1 1 40%;
  align-self: center;
}

.hero__right {
  flex: 1 1 60%;
  background-position: 90% 40%;
  background-size: 70%;
  background-repeat: no-repeat;
}

.hero__left h1 {
  color: var(--grey);
  font-size: 6rem;
  margin-bottom: 1.6rem;
}

.hero__left p {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 1px;
  margin-bottom: 2.5rem;
}

.button {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;

}

.hero__btn {
  color: var(--white);
  padding: 1.2rem 4rem;
  background-color: var(--grey);
  border-radius: 30px;
  font-weight: bold;
}

.go-down svg {
  width: 3rem;
  height: 3rem;
  fill: var(--white);
}

.go-down {

  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--grey);
  border-radius: 50%;
  animation: bounce 2s linear infinite;
}

@keyframes bounce {
  0% {
      bottom: 0%
  }

  50% {
      bottom: 3%
  }

  100% {
      bottom: 0%
  }
}


@media only screen and (max-width: 996px) {
  .header {
      height: 40vh;
  }
}

@media only screen and (max-width: 768px) {
  .header {
      height: 90vh;
  }

 

  .hero__right {
      background-position: 50% center;
      background-size: 70%;
  }
}

@media only screen and (max-width: 568px) {

  .hero__right {
      background-position: 50% center;
      background-size: 80%;
  }

  .hero__left {
      margin-top: 30%;
  }

  .hero__left h1 {
      font-size: 4rem;
  }

  .hero__left p {
      font-size: 1.5rem;
  }

  .hero__btn {
      font-size: 1.5rem;
      padding: .7rem 2rem;
  }

  .go-down {
      display: none;
  }
}

.fa {
  padding: 20px;
  font-size: 35px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  margin-left: 250px;
  margin-bottom: 30px;
  border-radius: 100px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #07d162;
  color: white;
}

.fa-twitter {
  background: #07d162;
  color: white;
}



.fa-linkedin {
  background: #07d162;
  color: white;
}



.fa-instagram {
  background: #07d162;
  color: white;
}
.social-main{
background-color: #050505;

}
.p{
  margin-top: 10px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  color: #07d162;
}
.email{
  color: rgb(196, 190, 190);
  text-align: center;
  padding: 10px;
}
